h1 {
    font-size: 700%;
}
h3 {
    font-size: 200%;
    color: #628;
}
body {
    text-align: center;
    font-family: Arial;
    color: #255;
}
p {
    font-size: 150%;
    margin: 0px;
}

footer {
    margin-top: 30px;
}